<ion-view view-title="{{phone.user}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-trash-b" ng-click="remove()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
  <ion-refresher
    pulling-text="{{NLS.pullingText}}"
    on-refresh="doRefresh()">
  </ion-refresher>

  <p class="subdued" style="color:gray">
    {{message}} <a ng-click="showLoginModal()" ng-show="messageSignIn" href>sign in</a> <span ng-show="messageSignIn">{{messageSignIn}}</span>
  </p>

  <div class="list card">

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('credit')" ng-class="{active: isGroupShown('credit')}" ng-show="phone.values.credit.total">
      <i class="icon ion-cash" ></i>
      <strong>{{phone.values.credit.total}}</strong> credit
      <i class="icon" side="right" ng-class="isGroupShown('credit') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('credit')">
      <div class="row">
        <div class="col" ng-repeat="heading in phone.values.credit.headings">{{heading}}</div>
      </div>
      <div class="row" ng-repeat="row in phone.values.credit.rows">
        <div class="col" ng-repeat="col in row">{{col}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('mins')" ng-class="{active: isGroupShown('mins')}" ng-show="phone.values.mins.total">
      <i class="icon ion-ios7-timer-outline" ></i>
      <strong>{{phone.values.mins.total}}</strong> minutes
      <i class="icon" side="right" ng-class="isGroupShown('mins') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('mins')">
      <div class="row">
        <div class="col" ng-repeat="heading in phone.values.mins.headings">{{heading}}</div>
      </div>
      <div class="row" ng-repeat="row in phone.values.mins.rows">
        <div class="col" ng-repeat="col in row">{{col}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('texts')" ng-class="{active: isGroupShown('texts')}" ng-show="phone.values.texts.total">
      <i class="icon ion-android-chat" ></i>
      <strong>{{phone.values.texts.total}}</strong> texts
      <i class="icon" side="right" ng-class="isGroupShown('texts') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('texts')">
      <div class="row">
        <div class="col" ng-repeat="heading in phone.values.texts.headings">{{heading}}</div>
      </div>
      <div class="row" ng-repeat="row in phone.values.texts.rows">
        <div class="col" ng-repeat="col in row">{{col}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('mb')" ng-class="{active: isGroupShown('mb')}" ng-show="phone.values.mb.total">
      <i class="icon ion-android-download" ></i>
      <strong>{{phone.values.mb.total}}</strong> MB
      <i class="icon" side="right" ng-class="isGroupShown('mb') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('mb')">
      <div class="row">
        <div class="col" ng-repeat="heading in phone.values.mb.headings">{{heading}}</div>
      </div>
      <div class="row" ng-repeat="row in phone.values.mb.rows">
        <div class="col" ng-repeat="col in row">{{col}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('calls')" ng-class="{active: isGroupShown('calls')}" ng-show="settings.experimental && logs">
      <i class="icon ion-android-call" ></i>
      Call logs {{myNumber}}
      <i class="icon" side="right" ng-class="isGroupShown('calls') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('calls')">
      <p class="subdued">
        * {{NLS.callLogNote}}
      </p>
      <div class="row">
        <div class="col col-33"><i class="icon ion-ios-time-outline" ></i></div>
        <div class="col col-33"><i class="icon ion-android-call" ></i></div>
        <div class="col col-20"><i class="icon ion-ios-timer" ></i></div>
        <div class="col col-20">£*</div>
      </div>
      <div class="row" ng-repeat="log in logs">
        <div class="col col-33">{{log.date | date:'MMM d h:mm:ss a'}}</div>
        <div class="col col-33">{{log.number}}</div>
        <div class="col col-20">{{log.duration}}s</div>
        <div class="col col-20">{{log.cost}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('messages')" ng-class="{active: isGroupShown('messages')}" ng-show="settings.experimental && logs">
      <i class="icon ion-android-textsms" ></i>
      SMS logs {{myNumber}}
      <i class="icon" side="right" ng-class="isGroupShown('messages') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('messages')">
      <p class="subdued">
        * {{NLS.smsLogNote}}
      </p>
      <div class="row">
        <div class="col col-43"><i class="icon ion-ios-time-outline" ></i></div>
        <div class="col col-43"><i class="icon ion-android-textsms" ></i></div>
        <div class="col col-20">£*</div>
      </div>
      <div class="row" ng-repeat="logSms in logsSms">
        <div class="col col-43">{{logSms.date | date:'MMM d h:mm:ss a'}}</div>
        <div class="col col-43">{{logSms.address}}</div>
        <div class="col col-20">{{logSms.cost}}</div>
      </div>
    </div>

    <div class="item item-icon-left item-icon-right item-stable" ng-click="toggleGroup('data')" ng-class="{active: isGroupShown('data')}" ng-show="settings.experimental && logs">
      <i class="icon ion-connection-bars" ></i>
      Data usage {{myNumber}}
      <i class="icon" side="right" ng-class="isGroupShown('data') ? 'ion-minus' : 'ion-plus'"></i>
    </div>

    <div class="item item-body item-accordion" ng-show="isGroupShown('data')">
      <p class="subdued">
        * {{NLS.dataLogNote}}
      </p>
      <div class="row">
        <div class="col col-43"><i class="icon ion-ios-time-outline" ></i></div>
        <div class="col col-43"><i class="icon ion-connection-bars" ></i></div>
        <div class="col col-20">£*</div>
      </div>
      <div class="row">
        <div class="col col-43">Since {{prettyUpTime(logData.uptimeMillis)}}</div>
        <div class="col col-43">{{logData.mb}} MB</div>
        <div class="col col-20">{{logData.cost}}</div>
      </div>
    </div>

  </div>
    <p class="subdued" style="text-align:right;color:gray">
      {{NLS.lastupdated}} {{prettyDate(phone.lastupdated)}}
    </p>
  </ion-content>
</ion-view>
