<ion-view view-title="Privacy policy">
  <ion-content class="padding">
    <p>
      This application remembers your 3 (UK) authentication information, stores it on your device, and uses it to sign you in to <a href="http://www.three.co.uk/">three.co.uk</a> <i class="icon ion-ios-browsers-outline"></i> to retrieve your balance data in the same way as you would do in a browser.
    </p>
    <p>
      Your use of the application is governed by the application <a href="https://github.com/barshociaj/ThreeBalance/blob/master/PRIVACY_POLICY.md">privacy policy</a> <i class="icon ion-ios-browsers-outline"></i>.
    </p>
  </ion-content>
</ion-view>
